<% if current_user.status == 'Ativo' %>
<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, :required => true, :class => 'form-control', maxlength: '20' %>
    </div>
    <%=f.error_span(:code) %>
  </div>
  
  <div class="form-group">
    <%= f.label :unit_of_measurement, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :unit_of_measurement, option_for_unidade(@product.unit_of_measurement), {}, {:class => 'form-control', :required => true} %>
    </div>
    <%=f.error_span(:unit_of_measurement) %>
  </div>

  <div class="form-group">
    <%= f.label :quantity, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :quantity, :required => true, :class => 'form-control' %>
    </div>
    <%=f.error_span(:quantity) %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area(:description, :required => true, :class => 'form-control', maxlength: '50',size: '50x5') %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group form-check">
    <%= f.check_box :damage, :class => 'form-check-input' %>
    <%= f.label :damage, :class => 'form-check-label' %>
    <%=f.error_span(:damage) %>
  </div>

  <div class="form-group">
    <%= f.label :balance_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <% teste = @balancoAtivo %>
      <%= collection_select(:product, :balance_id, @balancoAtivo, :id, :name, {}, {:class => 'form-control'}) %>
    </div>
    <%=f.error_span(:balance_id) %>
  </div>

  <div class="form-group">
    <%= f.label :product_kind_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= collection_select(:product, :product_kind_id, ProductKind.all, :id, :name, {}, {:class => 'form-control', :required => true}) %>
    </div>
    <%=f.error_span(:product_kind_id) %>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-6">
      <%= f.submit 'Salvar', :class => 'btn btn-primary' %> |
      <%= link_to('Sair', destroy_user_session_path,  :method=>'delete', :class => 'btn btn-primary') %>          
    </div>
  </div>

  <div class="form-group" style="visibility: hidden">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <% @product.user_id = current_user.id %>
        <%= collection_select(:product, :user_id, User.all, :id, :name, {:include_blank => true}, {:class => 'form-control'})  %> 
      </div>
    <%=f.error_span(:user_id) %>
  </div>
  <% end %>
<% end %>
